# Python cache files
__pycache__/
*.pyc
*.pyo

# python lib files
*.egg-info
dist/
build/
*.egg

# macOS files
.DS_Store

# VS Code settings
.vscode/

# Log files
*.log

# ONNX files
*.onnx

# Tensor RT files
*.trt
